:root{
    --azulOscuro: #142B45;
    --blanco: #FFFFFF;
    --azulNormal: #2c5f9e;
    --celeste: #dfe7f1;
    --grande: 3.4rem;
    --mediano: 2.5rem;
    --chico: 1.6rem;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header .titulo{
    display: block;
    font-size: var(--grande);
    font-weight: bold;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    padding: 1rem 1.5rem;
    text-align: center;
}


.header .sub-header{
    width: 100%;
    height: auto;
    min-height: 6rem;
    background-color: var(--blanco);
    display: flex;
}

.sub-header > h2{
    font-size: var(--grande);
    font-weight: bold;
    color: var(--azulNormal);
    align-self: center;
    padding-left: 3rem;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--celeste);
}
.container_img{
    width: 70%;
    place-self: center;
}

.container_img img{
    width: 100%;

}

.form_container{
    width: 70%;
    /* max-width: 40rem; */
    height: min-content;
    justify-self: center;
    background-color: var(--blanco);
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 0.8rem;
}

.form_container > h2{
    font-size: var(--grande);
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--azulOscuro);
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
}

.formulario label{
    font-size: var(--mediano);
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.formulario > input{
    width: 100%;
    height: 3.4rem;
    border: 1px solid var(--azulNormal);
    border-radius: 0.8rem;
    font-size: var(--chico);

    margin-bottom: 1.5rem;
}

.contenedor-recordarme{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 3rem;
}

.contenedor-recordarme label{
    font-size: var(--chico);
    font-weight: 500;
}

.btn-enviar{
    width: 100%;
    border: none;
    font-size: var(--mediano);
    font-weight: 500;
    background-color: var(--azulNormal);
    color: var(--blanco);
    cursor: pointer;
}
